.post-btns {
  margin-right: 5px;
}

/* .edit-form {
  margin-top: 15px;
  padding-left: 30px;
} */

.comment {
  font-size: 92%;
}

.edit {
  display: none;
}

.editing .edit {
  display: block;
}

.editing .post-text {
  display: none;
}
